*{
    background-color: #111537;
}

.container{
    text-align: center;
    display:block;
}

.card-body{
    background-color: white;
    color: black;
    min-height: 500px;
    margin-left: 10px;
    margin-right: 10px;
    
}

.card-title{
    background-color: white;
    color: black;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}
.card-text{
    background-color: white;
    color: black;
    font-size: larger;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}
.PageName{
    color: white;
}

.rowBody{
    background-color: white;
}
.colBody{
    background-color: white;
}
h5{
    text-align: center;
    margin-top: 5px;
    margin-right: 10px;
}

#start-quiz-button{
    background-color: #F05755;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    padding: 14px 34px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px; 
}

.timer-label{
    background-color: white;
    color: black;
    text-align: end;
    font-weight: bold;   
    display: flex;
    align-content: flex-end;
    text-align: end;
}

.timeCountdownValue{
    background-color: white;
    color: black;
    font-weight: bold;
  
}

.questionPTag{
    background-color: white;
    color: black;
    font-weight: bold;
}

.next-question-button{
    background-color: #F05755;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    padding: 14px 34px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px; 
}
.border{
    border-style:solid;
    border-width:5px !important;
}

.quizResult{
    background-color: white;
    color: black;
    font-weight: bold;
}
p{
    background-color: white;
    color: black;
    font-weight: bold;
}

.white-bg{
    background-color: white;
    color: black;
    font-weight: bold;
}

.toast-bg{
    background-color: cornsilk;
    color: black;
    font-weight: bold;
}

.custom-button{
    background-color: #F05755;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px; 
}

.card-highscore-text{
    text-align: justify;
    align-items: center;
    align-self: center;
    align-content:center;
    background-color: white;
    color: black;
    font-weight: bold;
}

#clear-score-button{
    background-color: #F05755;
    border: none;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px; 
}