*{
    background-color: #111537;
}

.card-body{
    background-color: white;
    color: black;
    min-height: 500px;
    margin-left: 10px;
    margin-right: 10px;
}
.card-title{
    background-color: white;
    color: black;
}
.card-text{
    background-color: white;
    color: black;
}
.PageName{
    color: white;
}
/* Text align for about me content  */
.justify-content-center{
    text-align: center;
}